#dashboard {
    text-align: center;
    padding-top: 25px;
    margin-top: 50px;
}

.statusTiket{
    
    margin-left: 5%;
}

.divStatus {
    width: 17%;
    height: 47%;
    margin-left: 7%;
    float: left;
    padding-top:5px;
    
}

#divHariIni {
    
    background-color: #818e89;
    border-radius: 5px;
    text-align: center;

}

#divOpen {
    background-color: #5CB85C;
    border-radius: 5px;
}

#divClose {
    background-color:  #e80d06;
    border-radius: 5px;
}

#divPending {
    background-color: #fc411b;
    border-radius: 5px;
}

