body{
	font-family: arial;
	font-size: 14px;
	color:black;
    background-image: url("imgsrc/indexImg/6.jpg");
    background-size: cover;
}

.kontak{
    margin-top: 50px;
}

#kotak1{
    margin-top: 50px;
    margin-left: 100px;
}


#header{
	font-size: 20px;
    padding: 20px;
    color : black;
    background-color: white;
}

#menu{
	 background-color: #e01414;
    font-size: 17px;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li.utama{
	display: inline-table;
}
#menu ul li:hover{
	background-color: #e01414;
}
#menu ul li a{
	display: block;
	text-decoration: none;
	line-height: 40px;
	padding: 0 10px;
	color: #fff;
}

#menu ul li a:hover{
    background-color: #e64a31;
}

.btn-block {
    display: block;
    width: 20%;
    text-align: center;
}
.btn {
   display: inline-block;
    padding: 20px 20px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 10px;
}

 .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px;
}


.btn-default {
    margin-bottom:10px;
    color: #fff;
    background-color: #F1F1F1;
}


.btn-info {
    color: #FFF;
    background-color: #5BC0DE;
    border-color: #46B8DA;
}
.btn-warning {
    color: #FFF;
    background-color: #F0AD4E;
    border-color: #EEA236;
}
.btn-primary {
    color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}



.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border-radius: 3px;
    height:20px; 
}

.pending{
    
    background-color: #fc411b;
    color: #fff;
    border-radius: 15px;
    width: 130px;
    
}

.pending:hover{
    background-color: #dd2c08;
    color:#000;
}

.tiket{
    color: #FFF;
    background-color: #818e89;
    border-radius: 15px;
    width: 130px;

}

.tiket:hover{
    background-color: #bdccc6;
    color:#000;
}

.open:hover{
    background-color: #51ba51;
    color: #000;

}
.open{
  
    color: #FFF;
    background-color: #5CB85C;
    border-radius: 15px;
    width: 130px;
   
}

.tutup: hover{
    background-color: #cc140e;
}

.tutup{
    color: #FFF;
    background-color: #e80d06;
    border-radius: 15px;
    width: 130px;
    
    
}


#tulisan{
    font-size: 20px;
    
}

#line{
    background-color: yellow;
    margin-top: 5px;
}

.tombol{
    background-color: #e3e6ef;
    border-radius: 20PX;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tabel-color{
    background-color: #e01414; 
    color:#FFF;
    width: 10%;
}


.utama ul{
	display: none;
	position: absolute;
	z-index: 2;
}
.utama:hover ul{
	display: block;
}
.utama ul li{
	display: block;
	background-color: #e01414;
	width: 140px;
}

#isi{
	min-height: 400px;
    padding: 20px;
    
}

.container{
    margin-top: 50px;
}

#canvas{
     background-color: rgba(184, 184, 184, 0.52);
}

#footer{
	text-align: center;
    padding: 17px;
    background-color: /*#adadad*/ #d1c9c9; 
    margin-top: 20px;
    color: #000;

}

#headerTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.namaKota {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-radius: 20px;
}

#dashboard {
    margin: auto;
    margin-bottom: 25px;
    height: 80px;
    width: 98%;
    border: 2px solid rgb(116, 99, 99);
    border-radius: 10px;
    background-color: rgba(184, 184, 184, 0.685);
}

.tombol-opsi{
   
    margin: 5px;
    width: 65%;
}


#tulisanimport{
   border-color: black;
}

.border{
    border-color: black;
}


.tombol1{
    background-color: #e3e6ef;
    border-radius: 13PX;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.x{
    width: 25%;
    border-radius: 5px;
    text-align: center;
    margin-left: 50px;
}

.import-style{
    width: 25%;
    text-align: center;
    margin-left: 50px; 
}

.submit1{
    float: left;
    margin-top: 10px;
    padding-right: 40px;
    text-align: center;
}

.y{
    width: 25%;
    text-align: center;
     
}


.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
    
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}